<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <form>
                <input placeholder="Address">
                <button>Search</button>
            </form>

            <img id="weather-icon">
            <p id="address"></p>
            <p id="summary"></p></br>
            <p id="current-temperature"></p>
            <p id="chance-of-rain"></p>
        </div>
    
        {{>footer}}
        <script src="js/client.js"></script>
    </body>
</html>